h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blueviolet;
    text-align: center;
}


p { 
    font-family: fantasy;
    color :pink;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
}

h3 {font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    color: blue;
}

html {
    background-color: purple;
}